body 
{

    display: grid;
    grid-template-columns:  15% auto 15%;
    grid-template-rows:     10% auto 10%;

    margin: 0;
    padding: 0;
    height: 100vh;

    background-color: #0D0D0D;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #F2EDE4;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.main
{
    grid-column: 2;
    grid-row: 2;

    /*
        maring: 0 auto;
    */

    padding: 32pt;
}

.main .content
{
    margin: 0 auto;
    width: 640px;   
    backdrop-filter: blur(8px);
    border-radius: 16pt;

    padding-bottom: 16pt;
}

.main .content .item
{
    padding: 16pt;  
}

.clock
{

    padding: 16pt 0;

    font-weight: bolder;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

hr 
{
    padding: 0;
    margin: 0;
    width: 512px;
    margin: auto;
    opacity: 0.5;
}

.weather_card
{
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 24pt auto;

    grid-template-areas:
        "header"
        "body";

    min-height: 100pt;
    max-height: 512pt; 
} .weather_card > .title
{
    grid-area: header;
    text-align: center;
} .weather_card > .body
{
    grid-area: body;

    display: grid;
    height: 100px;
    grid-template-rows: auto;
    grid-template-columns: auto 64px 224px auto;
}
.weather_card >.body img
{
    grid-column: 2;
}
.weather_card >.body .details-container 
{
    grid-column: 3;

    display: grid;
    grid-template-columns: 72pt auto;
    grid-template-rows: auto 64pt auto;

    height: 100px;
} .weather_card >.body .details-container > .temp
{
    text-align: center;
    margin: auto;
    grid-row: 2 / 4;
}
.weather_card > .body .details-container > .desc_box
{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto auto auto;
}
.weather_card > .body .details-container > .desc_box > .desc_main
{
    grid-row: 2;
}
.weather_card > .body .details-container > .desc_box > .desc_sub
{     
    grid-row: 3;
    font-size: medium;
    font-weight: lighter;
}

/* || SEARCH BOX */
.search {

    display: grid;

    grid-template-columns: 256px 64px;

    height: 25px;
    margin: 0 128px;
}

.search > select {

    grid-row: 1;
    grid-column: 2;

    max-width: 128px;
    min-height: 24px;
    
    border-width: 1px;
    border-left: none;
    background: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    appearance: none;
    text-align: center;
    overflow: hidden;
    outline: none;
    text-align-last: center; /* centers text inside of the selector button (https://stackoverflow.com/a/34532555) */
}

.search > input
{

    grid-row: 1;
    grid-column: 1;
    
    min-height: 24px;

    text-align: center;
    width: 256px;
    min-height: 24px;
    text-indent: 8px;
    border-width: 1px;
    border-left: none;
    background: white;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-image: none;

}